/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.wrap {
  background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/bg_home.svg), url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball01.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: top right, -180px 589px;
  background-size: 62.25vw, 360px;
  position: relative;
}

.container {
  max-width: 1088px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

a,
p,
h1,
h2,
h3 {
  line-height: 1.5;
  font-family: normal normal bold 18px/26px Noto Sans TC;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 24px;
  margin-bottom: 24px;
}
.navbar img {
  width: 218.06px;
}
.navbar .pricing-html {
  color: white;
  background: #ff5d50;
  font-size: 16px;
  padding: 8px 32px;
  border-radius: 22px;
}

.banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 30px;
}
.banner img {
  width: 48.9%;
}

.banner-item {
  flex-direction: column;
  align-items: center;
}
.banner-item .bannerp1 {
  font-size: 18px;
  color: #56c4c5;
}
.banner-item h1 {
  font-size: 48px;
  color: 2210f;
}
.banner-item .bannerp2 {
  font-size: 20px;
}

.platform {
  text-align: center;
  margin: 217px 65px 100px 65px;
}
.platform ul {
  margin: 0auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.platform img {
  width: 90px;
  padding: 48px 0 24px 0;
}
.platform h3 {
  padding-bottom: 24px;
  font-size: 24px;
}
.platform p {
  font-size: 16px;
  color: #747474;
}

.situation p {
  font-size: 20px;
  text-align: center;
}
.situation ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 48px;
}
.situation ul p {
  font-size: 16px;
  margin: 16px 0 24px 0;
}
.situation ul li {
  min-width: 260px;
  box-shadow: 0px 2px 10px #00000014;
  border-radius: 12px;
}
.situation ul li .situation-item {
  color: #56c4c5;
  margin-top: 16px;
}
.situation ul li img {
  border-radius: 12px 12px 0px 0px;
}

.feature {
  display: flex;
  justify-content: space-between;
  margin: 100px 0 100px 0;
  text-align: left;
}
.feature ul {
  display: flex;
  flex-direction: space-between;
  flex-wrap: wrap;
  max-width: 46.6%;
  gap: 2.57% 4.32%;
}
.feature ul li {
  width: 230px;
  box-shadow: 0px 2px 10px #00000014;
  border-radius: 12px;
  padding: 32px 32px 48px 32px;
}
.feature ul li img {
  width: 86px;
  height: 86px;
  padding: 8%;
  box-shadow: 0px 2px 10px #00000014;
  border-radius: 50%;
  margin-bottom: 24px;
}
.feature ul li .feature-item {
  margin-bottom: 16px;
}
.feature ul li .feature-item p {
  font-size: 18px;
  font-weight: 1200;
}
.feature ul li .feature-sb {
  font-weight: 400;
  font-size: 16px;
}

.feature-word {
  width: 49%;
  padding: 165px 0 164px 0;
}
.feature-word h2 {
  text-align: left;
  margin-bottom: 16px;
}
.feature-word p {
  font-size: 18px;
  margin-bottom: 24px;
}
.feature-word a {
  font-size: 18px;
  padding: 12px 32px;
  color: #ffffff;
  background: #56c4c5;
  border: 1px solid #56c4c5;
  border-radius: 27px;
}

.comment h3 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 104px;
}
.comment ul {
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
  flex-wrap: wrap;
}
.comment .comment-item,
.comment .comment-item2 {
  width: 33%;
  padding: 48px 32px 24px 32px;
  box-shadow: 0px 2px 10px #00000014;
  border-radius: 12px;
  position: relative;
}
.comment .comment-item p,
.comment .comment-item2 p {
  font-weight: normal;
  padding-bottom: 24px;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 24px;
}
.comment .photo {
  position: absolute;
  top: -50px;
  box-shadow: 0px 2px 10px #00000014;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.comment strong {
  font-weight: bold;
}
.comment .who {
  padding-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.comment .comment-page {
  width: 60px;
  margin: 0 auto 100px auto;
}
.comment .comment-page li {
  height: 10px;
  width: 10px;
  background: #dddddd 0% 0% no-repeat padding-box;
  border-radius: 50px;
}
.comment .comment-page .yellowli {
  height: 10px;
  width: 16px;
  background: #ffd153 0% 0% no-repeat padding-box;
  border-radius: 50px;
}

.footer-plan {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/home_footer.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 503px;
  text-align: center;
  padding: 260px 0 100px 0;
}
.footer-plan h2 {
  padding-bottom: 48px;
}
.footer-plan a {
  padding: 15px 32px;
  font-size: 18px;
  color: #ffffff;
  background: #56c4c5;
  border-radius: 50px;
}
.footer {
  background: #f5f5f5;
  text-align: center;
}

@media (max-width: 768px) {
  .feature {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    
    margin: 60px 0 60px 0;
  }
  .feature ul {
    max-width: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .feature li {
    width: 100%;
  }
  .feature .feature-word {
    width: 100%;
    padding: 60px 0 32px 0;
    text-align: center;
  }
  .feature .feature-word h2 {
    text-align: center;
  }
  .feature .feature-word p {
    font-size: 16px;
    margin-bottom: 16px;}

    
  .footer-plan{
    height: 461px;
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/footer_sm.svg");
     
  }

}



@media  (max-width: 576px) {
  .banner {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 32px;
  }
  .banner img {
    width: 48vw;
  }
  .banner .bannerp1.bannerp2 {
    font-size: 16px;
  }
  .banner img {
    width: 81vw;
    top: 375px;
    padding-left: 41.87px;
  }
  .platform {
    margin: 89.5px auto 60px auto;
  }
  .platform ul {
    display: flex;
    justify-content: center;
  }
  .platform img {
    width: 60px;
    padding: 32px 0 16px 0;
  }
  .platform h3 {
    padding-bottom: 16px;
  }

  .situation p {
    font-size: 18px;
  }
  .situation ul {
    display: flex;
    justify-content: center;
  }
  .situation li {
    max-width: 260px;
  }
  .comment ul {
    display: flex;
    flex-direction: column;
  }
  .comment ul .comment-item {
    width: 100%;
  }
  .comment ul .comment-item2 {
    display: none;
  }
  .comment-page ul {
    display: flex;
    flex-direction: row;
  }
}
@media screen and (max-width: 375px) {
  .wrap {
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/bg_home_sm.svg), url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/ball01.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: center 324px, -180px 743px;
    background-size: 90%, 126px;
  }
  .wrap h1 {
    font-size: 32px;
  }
  .wrap h2 {
    font-size: 28px;
  }
  .wrap h3 {
    font-size: 18px;
  }
  .wrap .container {
    padding: 0 20px 0 20px;
    margin: 0 auto;
  }
  .navbar {
    padding-top: 16px;
    margin-bottom: 16px;
  }
  .navbar img {
    width: 130.84px;
  }

  .footer-plan {
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/footer_sm.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 375px;
    height: 461px;
    text-align: center;
    padding: 293px 0 60px 0;
  }
   .footer-plan h2 {
    margin-bottom: 24px;
    font-size: 24px;
  }
  .footer-plan a {
    padding: 12px 32px;
  }

  }
  
